.NoteTable {
    margin-bottom: 40px;
}

#add-button {
    text-align: center;
    padding: 5px 25px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}

#add-button:hover {
    color: #999999;
    border: 2px solid #999999;
    cursor: pointer;
}